<h1>Ok, <a href="/users/<%= @user.username%>"><%= @user.username%></a></h1>

<h2>Chores are due Sunday at 10pm.  You've got this!</h2><br />
<h2>The Current Chore Cycle:</h2><br />
<h3><%= @cycle.user.username %> -- <%= @cycle.chore.title %></h3>

<!-- <h2><a href="/users/<%= @user.id%>"><%= @user.username%></a></h2> -->
<br></br>
<a href="/chores">Check out all the chores</a>
<br></br>
<a href="/logout">Log out</a>
