<% if flash.has?(:message) %>
  <h1><%=flash[:message]%></h1>
<%end%>


<h1>All the Chores</h1>
   <% @chores.each do |chore|%>
      <h4><a href="/chores/<%= chore.slug%>"><%= chore.title%></h4>
   <%end%>

<br></br>
<a href="/chores/new">Create a new chore!</a>
<br></br>
<a href="/users/<%= @user.username%>"><%= @user.username%></a>
<br></br>
<a href="/logout">Log out</a>
